<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Edit client</title>

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
  </head>

  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
        <h2>Edit client</h2>
      </div>

      <div class="row">
        <div class="col-md-12 order-md-1">
          <form action="#" th:action="@{/updated-client-{id}(id=${client.id})}" th:object="${client}" method="post">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" th:field="*{firstName}" th:required="required" placeholder="" value="">
                <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color:red;"></span>
              </div>

              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" th:field="*{lastName}" th:required="required" placeholder="" value="">
                <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color:red;"></span>
              </div>
            </div>

            <div class="mb-3">
              <label for="username">Username</label>
              <div class="input-group">
                <input type="text" class="form-control" id="username" th:field="*{username}" th:required="required" placeholder="Username">
                <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color:red;"></span>
              </div>
            </div>

            <div class="mb-3">
              <label for="email">Email <span class="text-muted">(Optional)</span></label>
              <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="you@example.com">
            </div>

            <div class="mb-3">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" th:field="*{address}"  th:required="required" placeholder="1234 Main St">
              <span class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color:red;"></span>
            </div>

            <div class="mb-3">
              <label for="country">Country</label>
              <select class="custom-select d-block w-100" id="country" th:field="*{country}" th:required="required">
                <option th:each="country : ${country}" th:value=" ${country.country}" th:text=" ${country.country}"></option>
              </select>
            </div>

            <hr class="mb-4">
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Edit client">
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2019 Company Name</p>
      </footer>
    </div>
  </body>
</html>
